@page "/base64encode"

<h3>Base64 Encode/Decode</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="inputTxt"></label>
                <textarea @bind="Input" class="form-control" id="inputTxt" rows="10"> </textarea>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-top: 20px">
                <button @onclick="EncodeText" class="btn btn-primary">Encode</button>
                <button @onclick="DecodeText" class="btn btn-primary">Decode</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="outputTxt"></label>
                <textarea @bind="Output" class="form-control" id="outputTxt" rows="10"> </textarea>
            </div>
        </div>
    </div>
</div>



@code {
    public string? Input { get; set; }
    public string? Output { get; set; }

    private void EncodeText()
    {
        if (string.IsNullOrWhiteSpace(Input))
        {
            return;
        }
        Output = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Input));
    }

    private void DecodeText()
    {
        if (string.IsNullOrWhiteSpace(Input))
        {
            return;
        }

        try
        {
            Output = System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(Input));
        }
        catch (Exception ex)
        {
            Output = ex.ToString();
        }
    }
}