@page "/compare"
@using BlazorMonaco;
@using BlazorMonaco.Editor;

<h3>Compare</h3>

<div style="min-width: 90%;min-height: 90vh;">
    <StandaloneDiffEditor @ref="_diffEditor" Id="diff-editor" ConstructionOptions="DiffEditorConstructionOptions" OnDidInit="EditorOnDidInit" />
</div>

<style>
    .monaco-editor-container {
        height: 90vh;
        border: 1px solid gray;
    }
</style>

@code {
    private StandaloneDiffEditor? _diffEditor { get; set; }

    private StandaloneDiffEditorConstructionOptions DiffEditorConstructionOptions(StandaloneDiffEditor editor)
    {
        return new StandaloneDiffEditorConstructionOptions
            {
                OriginalEditable = true,
                EnableSplitViewResizing = true,
            };
    }

    private async Task EditorOnDidInit()
    {
        if(_diffEditor == null)
        {
            return;
        }
        
        // Get or create the original model
        TextModel original_model = await Global.GetModel("editor-originalModel");
        if (original_model == null)
        {
            original_model = await Global.CreateModel("", "json", "editor-originalModel");
        }

        // Get or create the modified model
        TextModel modified_model = await Global.GetModel("editor-modifiedModel");
        if (modified_model == null)
        {
            modified_model = await Global.CreateModel("", "json", "editor-modifiedModel");
        }

        // Set the editor model
        await _diffEditor.SetModel(new DiffEditorModel
            {
                Original = original_model,
                Modified = modified_model
            });
    }
}