@page "/guidhelpers"
@inject IJSRuntime JSRuntime

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <b>Guid Generator</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <textarea @bind="NewGuid" class="form-control" disabled rows="1"> </textarea>
                        </div>
                        <div class="col-4">
                            <button @onclick="GenerateGuid" class="btn btn-primary">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <b> Guid from long and int</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="longInput">Long Input</label>
                            <input type="text" @bind="LongInput" class="form-control" name="longInput" id="longInput" />
                        </div>
                        <div class="col-4">
                            <label for="intInput">Int Input</label>
                            <input type="text" @bind="IntInput" class="form-control" name="intInput" id="intInput" />
                        </div>
                        <div class="col-4">
                            <button @onclick="GuidFromLongAndInt" class="btn btn-primary mt-4">Generate</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            Result: <textarea @bind="LongIntToGuidResult" disabled class="form-control" rows="1"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <b> Split Guid to long and int</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 mt-1">
                            <input type="text" @bind="Section3GuidInput" class="form-control" name="longInput" id="sec3LongInput" />
                        </div>
                        <div class="col-4">
                            <button @onclick="SplitGuidToLongAndInt" class="btn btn-primary">Generate</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                           Long Result: <textarea @bind="Section3LongResult" disabled class="form-control" rows="1"> </textarea>
                        </div>
                        <div class="col-6">
                            Int Result: <textarea @bind="Section3IntResult" disabled class="form-control" rows="1"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string NewGuid { get; set; } = Guid.NewGuid().ToString();

    public string? LongInput { get; set; }
    public string? IntInput { get; set; }
    public string? LongIntToGuidResult { get; set; }

    public string? Section3GuidInput { get; set; }
    public string? Section3LongResult { get; set; }
    public string? Section3IntResult { get; set; }

    private void GenerateGuid()
    {
        NewGuid = Guid.NewGuid().ToString();
    }

    private void GuidFromLongAndInt()
    {
        long.TryParse(LongInput, out long parsedLong);
        int.TryParse(IntInput, out int parsedInt);

        if (parsedInt > 0 && parsedLong > 0)
        {
            var bytes = new byte[16];
            BitConverter.GetBytes(parsedLong).CopyTo(bytes, 0);
            BitConverter.GetBytes(parsedInt).CopyTo(bytes, 12);

            LongIntToGuidResult = new Guid(bytes).ToString();
        }
    }

    private void SplitGuidToLongAndInt()
    {
        var isParseSuccess = Guid.TryParse(Section3GuidInput, out Guid parsedGuid);

        if (isParseSuccess)
        {
            var gb = parsedGuid.ToByteArray();

            Section3LongResult = BitConverter.ToInt64(gb, 0).ToString();
            Section3IntResult = BitConverter.ToInt32(gb, 12).ToString();
        }
    }
}